synergeia/n8n_wf20_daily_review.json
{
    "name": "WF-20: Daily Review Pipeline",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 6,
                            "triggerAtMinute": 0
                        }
                    ]
                }
            },
            "id": "cron-daily-review",
            "name": "Daily 06:00",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const { exec } = require('child_process');\n\nreturn new Promise((resolve, reject) => {\n  exec(\n    'cd /home/makaron8426/oikos/hegemonikon && PYTHONPATH=. /home/makaron8426/oikos/hegemonikon/.venv/bin/python -m synergeia.bridge --daily-review 2>&1',\n    { timeout: 300000 },\n    (error, stdout, stderr) => {\n      resolve([{ json: { stdout, stderr, exitCode: error ? error.code : 0 } }]);\n    }\n  );\n});"
            },
            "id": "code-daily-review",
            "name": "Run Pipeline",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "l2-check",
                            "leftValue": "={{ $json.stdout }}",
                            "rightValue": "L2 triggered",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-l2-triggered",
            "name": "L2 Triggered?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                750,
                300
            ]
        },
        {
            "parameters": {},
            "id": "noop-end",
            "name": "Done (No L2)",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1000,
                400
            ]
        }
    ],
    "connections": {
        "Daily 06:00": {
            "main": [
                [
                    {
                        "node": "Run Pipeline",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run Pipeline": {
            "main": [
                [
                    {
                        "node": "L2 Triggered?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "L2 Triggered?": {
            "main": [
                [],
                [
                    {
                        "node": "Done (No L2)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}