mekhane/ergasterion/n8n/wf06_session_state.json
{
    "name": "WF-06: Session State Machine",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "session-start",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "boot-webhook",
            "name": "Boot Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "session-start"
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst data = $input.item.json.body || {};\nconst now = new Date();\nconst sessionFile = '/oikos/mneme/.hegemonikon/current_session.json';\n\n// 排他制御: 既存セッションがあれば終了させてから新規開始\nlet previousSession = null;\ntry {\n  if (fs.existsSync(sessionFile)) {\n    previousSession = JSON.parse(fs.readFileSync(sessionFile, 'utf-8'));\n    if (previousSession.status === 'active') {\n      // 前セッションを強制終了して履歴に追記\n      previousSession.status = 'force-ended';\n      previousSession.endTime = now.toISOString();\n      const historyFile = '/oikos/mneme/.hegemonikon/session_history.jsonl';\n      fs.appendFileSync(historyFile, JSON.stringify(previousSession) + '\\n', 'utf-8');\n    }\n  }\n} catch(e) { /* ignore */ }\n\nconst session = {\n  startTime: now.toISOString(),\n  mode: data.mode || 'standard',\n  context: data.context || '',\n  agent: data.agent || 'unknown',\n  status: 'active'\n};\n\nfs.writeFileSync(sessionFile, JSON.stringify(session, null, 2), 'utf-8');\n\nconst result = { ...session, message: 'Session started' };\nif (previousSession && previousSession.status === 'force-ended') {\n  result.previousSession = 'force-ended at ' + previousSession.endTime;\n}\n\nreturn [{ json: result }];"
            },
            "id": "start-session",
            "name": "セッション開始記録",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "hours"
            },
            "id": "wait-2h",
            "name": "2時間待機",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst { execSync } = require('child_process');\n\nconst sessionFile = '/oikos/mneme/.hegemonikon/current_session.json';\n\ntry {\n  if (!fs.existsSync(sessionFile)) {\n    return [{ json: { action: 'none', reason: 'No active session file' } }];\n  }\n\n  const session = JSON.parse(fs.readFileSync(sessionFile, 'utf-8'));\n\n  if (session.status !== 'active') {\n    return [{ json: { action: 'none', reason: 'Session status: ' + session.status } }];\n  }\n\n  const elapsedMs = Date.now() - new Date(session.startTime).getTime();\n  const elapsedHours = (elapsedMs / (1000 * 60 * 60)).toFixed(1);\n\n  // Slack リマインダー送信\n  let slackResult = 'skipped';\n  let webhookUrl = '';\n  try {\n    webhookUrl = execSync('echo $SLACK_WEBHOOK_URL', { encoding: 'utf-8' }).trim();\n  } catch(e) {}\n\n  if (webhookUrl) {\n    const payload = JSON.stringify({\n      blocks: [\n        { type: 'header', text: { type: 'plain_text', text: '⏰ セッション継続中', emoji: true } },\n        { type: 'section', text: {\n          type: 'mrkdwn',\n          text: 'セッション開始から *' + elapsedHours + '時間* 経過。\\n\\n> Context: ' + (session.context || '(none)') + '\\n\\n休憩や `/bye` のタイミングかもしれません。'\n        }},\n        { type: 'context', elements: [\n          { type: 'mrkdwn', text: '_WF-06 Session State Machine | Hegemonikón_' }\n        ]}\n      ]\n    });\n    try {\n      const escaped = payload.replace(/'/g, \"'\\\\''\");\n      execSync(`curl -s -X POST '${webhookUrl}' -H 'Content-Type: application/json' -d '${escaped}' --connect-timeout 5 --max-time 10`, { encoding: 'utf-8' });\n      slackResult = 'sent';\n    } catch(e) {\n      slackResult = 'error';\n    }\n  } else {\n    slackResult = 'skipped (SLACK_WEBHOOK_URL not set)';\n  }\n\n  return [{ json: {\n    action: 'reminded',\n    elapsedHours,\n    context: session.context,\n    slack: slackResult\n  } }];\n} catch (e) {\n  return [{ json: { action: 'error', error: e.message } }];\n}"
            },
            "id": "check-and-remind",
            "name": "状態確認 + リマインダー",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "session-end",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "bye-webhook",
            "name": "Bye Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                500
            ],
            "webhookId": "session-end"
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst data = $input.item.json.body || {};\n\nconst sessionFile = '/oikos/mneme/.hegemonikon/current_session.json';\n\ntry {\n  let session = { status: 'unknown' };\n  if (fs.existsSync(sessionFile)) {\n    session = JSON.parse(fs.readFileSync(sessionFile, 'utf-8'));\n  }\n\n  const endTime = new Date();\n  const startTime = new Date(session.startTime || endTime);\n  const durationMinutes = ((endTime - startTime) / (1000 * 60)).toFixed(0);\n  const durationHours = (durationMinutes / 60).toFixed(1);\n\n  session.status = 'ended';\n  session.endTime = endTime.toISOString();\n  session.durationMinutes = parseInt(durationMinutes);\n  session.subject = data.subject || 'Unknown';\n\n  // 履歴に追記\n  const historyFile = '/oikos/mneme/.hegemonikon/session_history.jsonl';\n  fs.appendFileSync(historyFile, JSON.stringify(session) + '\\n', 'utf-8');\n\n  // current_session をクリア\n  fs.unlinkSync(sessionFile);\n\n  return [{ json: {\n    status: 'ended',\n    duration: `${durationHours}h (${durationMinutes}min)`,\n    subject: session.subject,\n    mode: session.mode,\n    startTime: session.startTime,\n    endTime: session.endTime\n  } }];\n} catch (e) {\n  return [{ json: { status: 'error', error: e.message } }];\n}"
            },
            "id": "end-session",
            "name": "セッション終了記録",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                500
            ]
        }
    ],
    "connections": {
        "Boot Webhook": {
            "main": [
                [
                    {
                        "node": "セッション開始記録",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "セッション開始記録": {
            "main": [
                [
                    {
                        "node": "2時間待機",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2時間待機": {
            "main": [
                [
                    {
                        "node": "状態確認 + リマインダー",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Bye Webhook": {
            "main": [
                [
                    {
                        "node": "セッション終了記録",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "hegemonikon"
        },
        {
            "name": "session"
        },
        {
            "name": "state-machine"
        }
    ],
    "active": true,
    "versionId": "2.0.0"
}