mekhane/ergasterion/n8n/wf06_session_state.json
{
    "name": "WF-06: Session State Machine",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "session-start",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "boot-webhook",
            "name": "Boot Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "session-start"
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst data = $input.item.json.body || {};\nconst now = new Date();\n\n// staticData: ファイル I/O 不要の永続化\nconst state = $getWorkflowStaticData('global');\n\n// 排他制御: 既存セッションを force-end\nlet previousSession = null;\nif (state.session && state.session.status === 'active') {\n  previousSession = { ...state.session };\n  previousSession.status = 'force-ended';\n  previousSession.endTime = now.toISOString();\n  // 履歴は jsonl に追記 (長期蓄積)\n  try {\n    const historyFile = '/oikos/mneme/.hegemonikon/session_history.jsonl';\n    fs.appendFileSync(historyFile, JSON.stringify(previousSession) + '\\n', 'utf-8');\n  } catch(e) {}\n}\n\n// 新セッション\nstate.session = {\n  startTime: now.toISOString(),\n  mode: data.mode || 'standard',\n  context: data.context || '',\n  agent: data.agent || 'unknown',\n  status: 'active'\n};\n\nconst result = { ...state.session, message: 'Session started' };\nif (previousSession) {\n  result.previousSession = 'force-ended at ' + previousSession.endTime;\n}\nreturn [{ json: result }];"
            },
            "id": "start-session",
            "name": "セッション開始記録",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "hours"
            },
            "id": "wait-2h",
            "name": "2時間待機",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const state = $getWorkflowStaticData('global');\n\nif (!state.session || state.session.status !== 'active') {\n  return [{ json: { action: 'none', reason: 'Session ' + (state.session ? state.session.status : 'missing'), shouldRemind: false } }];\n}\n\nconst elapsedMs = Date.now() - new Date(state.session.startTime).getTime();\nconst elapsedHours = (elapsedMs / (1000 * 60 * 60)).toFixed(1);\n\n// Slack URL 存在確認\nconst slackUrl = (process.env.SLACK_WEBHOOK_URL || '').trim();\nconst hasSlackUrl = slackUrl.length > 0 && slackUrl.startsWith('http');\n\nreturn [{ json: {\n  action: 'remind',\n  shouldRemind: hasSlackUrl,\n  elapsedHours,\n  context: state.session.context || '(none)',\n  mode: state.session.mode,\n  slackPayload: hasSlackUrl ? JSON.stringify({\n    blocks: [\n      { type: 'header', text: { type: 'plain_text', text: '⏰ セッション継続中', emoji: true } },\n      { type: 'section', text: { type: 'mrkdwn', text: 'セッション開始から *' + elapsedHours + '時間* 経過。\\n\\n> Context: ' + (state.session.context || '(none)') + '\\n\\n休憩や `/bye` のタイミングかもしれません。' } },\n      { type: 'context', elements: [{ type: 'mrkdwn', text: '_WF-06 Session State Machine | Hegemonikón_' }] }\n    ]\n  }) : ''\n} }];"
            },
            "id": "check-session",
            "name": "セッション状態確認",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{$json.shouldRemind}}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "if-active",
            "name": "リマインド必要?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SLACK_WEBHOOK_URL }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.slackPayload }}",
                "options": {
                    "timeout": 10000
                }
            },
            "id": "slack-reminder",
            "name": "Slack リマインダー",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1250,
                200
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "session-end",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "bye-webhook",
            "name": "Bye Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                500
            ],
            "webhookId": "session-end"
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst data = $input.item.json.body || {};\nconst state = $getWorkflowStaticData('global');\n\nconst endTime = new Date();\nlet session = state.session || { status: 'unknown' };\nconst startTime = new Date(session.startTime || endTime);\nconst durationMinutes = ((endTime - startTime) / (1000 * 60)).toFixed(0);\nconst durationHours = (durationMinutes / 60).toFixed(1);\n\nsession.status = 'ended';\nsession.endTime = endTime.toISOString();\nsession.durationMinutes = parseInt(durationMinutes);\nsession.subject = data.subject || 'Unknown';\n\n// 履歴に追記\ntry {\n  const historyFile = '/oikos/mneme/.hegemonikon/session_history.jsonl';\n  fs.appendFileSync(historyFile, JSON.stringify(session) + '\\n', 'utf-8');\n} catch(e) {}\n\n// staticData クリア\nstate.session = null;\n\nreturn [{ json: {\n  status: 'ended',\n  duration: durationHours + 'h (' + durationMinutes + 'min)',\n  subject: session.subject,\n  mode: session.mode,\n  startTime: session.startTime,\n  endTime: session.endTime\n} }];"
            },
            "id": "end-session",
            "name": "セッション終了記録",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                500
            ]
        }
    ],
    "connections": {
        "Boot Webhook": {
            "main": [
                [
                    {
                        "node": "セッション開始記録",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "セッション開始記録": {
            "main": [
                [
                    {
                        "node": "2時間待機",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2時間待機": {
            "main": [
                [
                    {
                        "node": "セッション状態確認",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "セッション状態確認": {
            "main": [
                [
                    {
                        "node": "リマインド必要?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "リマインド必要?": {
            "main": [
                [
                    {
                        "node": "Slack リマインダー",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Bye Webhook": {
            "main": [
                [
                    {
                        "node": "セッション終了記録",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "hegemonikon"
        },
        {
            "name": "session"
        },
        {
            "name": "state-machine"
        }
    ],
    "active": true,
    "versionId": "4.0.0"
}